.chatUser{
  padding: 10px 15px;
  border-bottom: 1px solid #c6c6c6;
}
.chatInput{
  padding: 10px 15px;
}
.chatMsg{
  height: calc(100% - 70px);
  padding-bottom: 50px;
}
.rMsg,.sMsg{
  padding: 0px 15px;
  align-items: end;
  justify-content: end;
  padding: 0px 15px;
}
.rMsg{
  justify-content: start;
}
.msg{
  padding: 8px;
  max-width: 200px;
  border-radius:  8px 8px 0px 8px;
  margin-bottom: 30px;
}
.rMsg p{
  border-radius:  8px 8px 8px 0px;
}
.msgImg{
  max-width: 220px;
  margin-bottom: 30px;
  border-radius: 10px;
}
